
<div class="row">

  <div class="col-md-4">
    <form class="form-inline">
      <div class="form-group">
        <input class="form-control input-lg" type="number" step="1" min="1" max="999"
          ng-model="$ctrl.input" ng-disabled="$ctrl.success" />
      </div>
      <div class="form-group">
        <button class="form-control input-lg btn btn-lg btn-primary"
          ng-click="$ctrl.submit()" ng-disabled="$ctrl.success">Submit</button>
      </div>      
    </form>
  </div>

  <div class="col-md-8">
    <timeline>
      <timeline-event ng-repeat="item in $ctrl.lastResults" side="alternate">
        <timeline-badge ng-class="item.css">
          <i class="glyphicon {{ item.glyphicon }}"></i>
        </timeline-badge>
        <timeline-panel>
          <timeline-heading>
            <h4>{{ item.input }}</h4>
          </timeline-heading>
          <p>{{ item.info }}</p>
        </timeline-panel>
      </timeline-event>
    </timeline>
  </div>

</div>
