
<div class="row" ng-if="!$ctrl.success">
  <div class="col-md-6">
    <form class="form-inline">
      <div class="form-group">
        <input class="form-control" type="number" step="1" min="1" max="999" ng-model="$ctrl.input" />
        <button class="form-control btn btn-primary" ng-click="$ctrl.submit()">Submit</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <tr ng-repeat="item in $ctrl.lastResults" ng-class="item.css">
        <th>{{ item.input }}</th>
        <td>{{ item.info }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row" ng-if="$ctrl.success">
  <div class="col-md-12">
    <div ng-if="$ctrl.success" class="alert alert-success">You won in {{ $ctrl.elapsedTime }} seconds !</div>
  </div>
</div>
